  /* fontpart */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

 /* common parts */
body{
    font-family: 'Ubuntu', sans-serif;
}
.fortitle{
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;

}
.division1{
  display: flex;
}
.influ{
  width: 50%;
  padding-left: 5%;
}
.influ img{
  width: 80%;
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(black,chocolate);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.fas fa-arrow-right{
  padding-left: 10px;
}