  /* fontpart */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

 /* common parts */
body{
    font-family: 'Ubuntu', sans-serif;
}
.fortitle{
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;

}

.division1{
  display: flex;
}
.influ{
  width: 50%;
  padding-left: 5%;
}
.influ img{
  width: 80%;
}

.influ img:hover{
  color: black ;
  background-color:lightgray  ;
  transform: scale(1.5);
  transition: transform 2s ease-in-out
}

.link-button{
  text-decoration: none;
  background-image: linear-gradient(black,chocolate);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.fa-arrow-right{
  padding-left: 20px;
}


.collection{
  text-align: center;
}
.total{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


.product-total{
  padding: 20px 25px;
  border-radius: 3%;
  box-shadow: 5px 5px 15px 1px #888888;
}
.ratings{
  display: flex;
  align-items: center;
}
.fa-star{
  font-size: 12px;
}
.fa-star.filled{
  color: #FFC014
}
.fa-star.empty{
  color: #AEAEAE;
}
.rate{
  padding-left: 10px;
}
.forseemore{
    width: 50%;
   padding-left: 85%;
   padding-top: 2%;
}

.division4{
  display: flex;
}
.influ2 img{
  width: 80%;
}
.influ2{
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
 /* *footer started */
.footer{
  background-color: gray;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  margin-top: 5%;

}

.footer_icon{
    
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.fab{

  margin: 5px;

}
 /* footer ended */

   
    





